img{
    width: 200px;
    height: 200px;
}

/* .produtos{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.input-file{
    display: none;
}

.label-file{
    cursor: pointer;
} */
