img{
    width: 200px;
    height: 200px;
}

.order-ul{
    max-width: 472px;
}

.admin-div{
    width: 50%;
}

@media(max-width:767.5px){
    .cart a{
        margin-top: 0.4em;
    }
}

@media(max-width:640px){
    .order-list{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:576px){
    .cart a{
        width: 30%;
    }
    .admin-div{
        width: 75%;
    }
}

@media(max-width:361px){
    .cart span{
        padding: 0;
    }
}
